:root{
  --default-white: #e6e5e5;
  --default-black: #171c1e;
  --light-grey: #b7bfc6;
  --dark-grey: #747677;
  --focus-blue: #cee0eb;
  --focus-shadow-blue: #7fabcb;
  --default-text-spacing: -0.75px;
  --tv-width: 300px;
  --font-small: 18px;
  --font-medium: 24px;
  --font-large: 36px;
  --font-extra-large: 42px; 
  --font-xxl: 56px;
}

/* fonts */
@font-face {
  font-family: 'VT323';
  src: local('VT323'),
       url('./fonts/VT323-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Notable';
  src: local('Notable'),
       url('./fonts/Notable-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Space';
  src: local('Space'),
       url('./fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype')
}

@font-face {
  font-family: 'Dosis';
  src: local('Dosis'),
       url('./fonts/Dosis-VariableFont_wght.ttf') format('truetype')
}

html{
  cursor: url('./media/cursor.png') 9 9, auto;
}

html:active{
  cursor: url('./media/active-cursor.png') 9 6, auto;
}

body{
  background-color: var(--default-black);
  color: var(--default-white);
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'Space';
  font-size: var(--font-small);
  font-weight: 300;
  scroll-behavior: smooth;
  line-height: 1.65;
  overflow: hidden;
}

p{
  margin: 0px;
}

ul{
  margin: 0px;
}

li{
  list-style-image: url('./media/bullet.png');
}

a{
  color: var(--default-black);
  cursor: url('./media/hover-cursor.png') 9 9, crosshair;
}

a:focus,
button.link-button:focus {
  outline: var(--focus-shadow-blue) solid 2px;
  border-radius: 2px;
}

button{
  color: var(--default-black);
  cursor: url('./media/hover-cursor.png') 9 9, crosshair;
  font-family: 'Space';
}

a:active,
button:active {
  cursor: url('./media/active-cursor.png') 9 9, crosshair;
}

button:focus,
button.proj-button:focus{
  outline: none;
}

button:focus .button-top,
button.proj-button:focus,
button.proj-button:focus .proj-arrow{
  background-color: var(--focus-blue);
  color: var(--default-black);
}

button.proj-button:hover .proj-arrow{
  background-color: var(--default-white);
  color: var(--default-black);
}

button:focus .button-bottom{
  background-color: var(--focus-shadow-blue);
}

/*link style button*/
button.link-button{
  background-color: var(--default-white);
  height: 100%;
  padding: 3px 3px 3px 3px;
  color: var(--default-black);
  font-size: var(--font-medium);
  font-family: 'VT323';
  text-decoration: underline;
  border: none;
}

/*proj page button */
button.proj-button{
  background-color: var(--default-black);
  color: var(--default-white);
  border: none;
  border-bottom: var(--default-white) 1px solid;
  border-right: var(--default-white) 1px solid;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 50%;
  justify-content: space-between;
  max-width: 700px;
  box-sizing: border-box;
}

button.proj-button .proj-label{
  font-size: var(--font-extra-large);
  font-family: 'VT323';
  text-align: left;
  padding: 8px 24px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.proj-button .proj-desc{
  font-size: var(--font-small);
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  justify-content: flex-end;
}

.proj-desc-arrow-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width:627px) {
  button.proj-button .proj-label{
    font-size: var(--font-extra-large);
  }
}


button.proj-button .proj-arrow{
  font-size: var(--font-extra-large);
  font-family: 'VT323';
  background-color: var(--default-black);
  color: var(--default-black);
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 12px;
}

button.proj-button:hover{
  background-color: var(--default-white);
  color: var(--default-black);
  border: transparent 1px solid;
}

.project-list .top-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project-list .top-row .proj-button:first-child,
.project-list .bottom-row .proj-button:first-child {
  border-right: var(--default-white) 1px solid;
}

.project-list .top-row .proj-button {
  border-top: var(--default-white) 1px solid;
}

.project-list .bottom-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width:234px){

  button.proj-button .proj-arrow {
    display: none;
  }
  button.proj-button .proj-desc{
    border-right: 0px;
    font-size: var(--font-small);
  }
}

@media (max-width:844px){
  .project-list .top-row{
    flex-direction: column;
  }
  
  .project-list .top-row .proj-button:first-child,
  .project-list .bottom-row .proj-button:first-child {
    border-right: 0px;
    border-bottom: 0px;
  }
  
  .project-list .bottom-row{
    flex-direction: column;
  }

  button.proj-button{
    width: 100%;
    aspect-ratio: unset;
  }

  button.proj-button .proj-image{
    height: 180px;
  }
} 

/*Loading page*/
.loading-page{
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  position: absolute;
  bottom: 0vh;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 7px;
  z-index: 1;
}

.loading-bar{
  max-width: 590px;
  width: 60%;
  height: 36px;
  background-color: var(--default-black);
  border-radius: 6px;
  border: var(--default-white) 1px solid;
  overflow: hidden;
}

.loading-bar-text{
  text-wrap: nowrap;
  text-align: center;
  font-size: var(--font-large);
  font-family: 'VT323';
  line-height: var(--font-large);
  position: relative;
  left: 4px;
  animation: moveLeft 3s infinite;
  -webkit-animation: moveLeft 3s infinite;
  -moz-animation: moveLeft 3s infinite;
  -o-animation: moveLeft 3s infinite;
  -ms-animation: moveLeft 3s infinite;
}

@keyframes moveLeft {
  0%{
    left: 4px;
  }
  50%{
    left: -74px;
  }
  100%{
    left: -152px;
  }
}

.show-me{
  opacity: 1;
}

.hide-me .loading-bar{
  animation: fadeOut 100ms;
  -webkit-animation: fadeOut 100ms;
  -moz-animation: fadeOut 100ms;
  -o-animation: fadeOut 100ms;
  -ms-animation: fadeOut 100ms;
  opacity: 0;
}

/* VHS landing page */
.landing-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  position: absolute;
  bottom: 0vh;
  opacity: 1;
  z-index: 10;
}

.hide-me .landing-page{
  display: none;
}

.landing-page .landing-page-vhs-img{
  max-width: 592px;
  max-height: calc(100% - 100px);
  object-fit: contain;
}

.landing-page.animate{
  animation: slideUp 2s ease-in-out;
  -webkit-animation: slideUp 2s ease-in-out;
  -moz-animation: slideUp 2s ease-in-out;
  -o-animation: slideUp 2s ease-in-out;
  -ms-animation: slideUp 2s ease-in-out;
  bottom: 100vh;
  opacity: 0;
}

.landing-page.animate button{
  animation: fadeOut 300ms;
  -webkit-animation: fadeOut 300ms;
  -moz-animation: fadeOut 300ms;
  -o-animation: fadeOut 300ms;
  -ms-animation: fadeOut 300ms;
  opacity: 0;
}

.landing-page.animate .landing-page-vhs-img{
  animation: shrinkImg 2.5s;
  -webkit-animation: shrinkImg 2.5s;
  -moz-animation: shrinkImg 2.5s;
  -o-animation: shrinkImg 2.5s;
  -ms-animation: shrinkImg 2.5s;
  width: 40%;
}

.insert-vhs{
  width: 100%;
  height: 100px;
  position: fixed;
  top: -100px;
  background-color: var(--default-black);
  z-index: 15;
}

.insert-vhs.animate{
  animation: slideDown 1000ms;
  -webkit-animation: slideDown 1000ms;
  -moz-animation: slideDown 1000ms;
  -o-animation: slideDown 1000s;
  -ms-animation: slideDown 1000s;
  top: 0px;
}

@keyframes slideDown {
  0%{
    top: -100px;
  }
  100%{
    top: 0px;
  }
}

@keyframes fadeOut {
  0% { 
    opacity: 1;
  }
  10%{
    opacity: 0.9;
  }
  100% { 
    opacity: 0;
  }
}

@keyframes shrinkImg {
  0% { 
    width: 80%;
    max-width: 592px;
  }
  100% { 
    width: 60%;
    max-width: 440px;
  }
}


@keyframes slideUp {
  0% { 
    opacity: 1;
    bottom: 0vh;
  }
  10%{
    opacity: 0.9;
    bottom: 0vh;
  }
  100% { 
    opacity: 0.8;
    bottom: 100vh;
  }
}

/* idle button sizes */
.big-button{
  height: 77px;
  width: 96px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
}

.small-button{
  height: 32px;
  width: 44px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
}

/* idle button styling/color + animation for hover/click */
button .button-top{
  border-radius: inherit;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--default-white) 1px solid;
  background-color: var(--dark-grey);
}

.button-top img {
  filter: invert(100%);
}

.button-top.active img {
  filter: none;
}

button .button-bottom{
  border-radius: inherit;
  position: absolute;
  /* bottom: 0px; */
  width: 100%;
  z-index: 0;
  border: var(--default-white) 1px solid;
  background-color: var(--default-black);
}

button:hover .button-top{
  background-color: var(--default-white);
}

button:hover .button-top img,
button:focus .button-top img{
  filter: none;
}

button:hover .button-bottom{
  background-color: var(--light-grey);
  border-color: var(--light-grey);
}

.big-button:active .button-top{
  top: 11px
}
/* button.big-button[aria-pressed="true"]:active .button-top,
button.big-button[aria-current="true"]:active .button-top{
  top: 11px;
} */

/* button.big-button[aria-pressed="true"] .button-top,
button.big-button[aria-current="true"] .button-top{
  top: 9px;
} */

.small-button:active .button-top,
button.small-button[aria-pressed="true"]:active .button-top,
button.small-button[aria-current="true"]:active .button-top{
  top: 7px;
}

button.small-button[aria-pressed="true"] .button-top,
button.small-button[aria-current="true"] .button-top{
  top: 4px;
}

/* button bounce animation */
button:not(:hover).bounce .button-top{
  animation: bouncing 600ms infinite;
  -webkit-animation: bouncing 600ms infinite;
  -moz-animation: bouncing 600ms infinite;
  -o-animation: bouncing 600ms infinite;
  -ms-animation: bouncing 600ms infinite;
}

@keyframes bouncing {
  0% {
    top: 0px;
  }
  1%{
    top: 6px;
  }
  50% {
    top: 6px;
  }
  51%{
    top: 0px;
  }
  100% {
    top: 0px;
  }
}
/* Specific sizes for big/small button elements */
.big-button .button-top{
  height: 56px;
}

.big-button .button-top img{
  height: 40px;
  width: 40px;
}

.big-button .button-bottom{
  height: 30px;
}

.small-button .button-top{
  height: 24px;
}

.small-button .button-top img{
  height: 18px;
  width: 18px;
}

.home-simple-video-controls .small-button .button-top img,
.proj-next-last-controls .small-button .button-top img{
  height: 22px;
  width: 22px;
}

.small-button .button-bottom{
  height: 16px;
}

/* scroll bar */
.custom-scroll{
  width: 8px;
  height: 100vh;
  background-color: var(--default-black);
  border-right: var(--default-white) 1px solid;
  box-sizing: border-box;
  overflow: hidden;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.custom-scroll.no-display{
  display: none;
}

.custom-scroll-fill{
  width: 100%;
  background-color: var(--default-white);
}

/* nav bar */
.nav-bar,
.nav-bar-small{
  height: 100%;
  min-height: 324px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  border-left: var(--default-white) 1px solid;
  box-sizing: border-box;
  background-color: var(--default-black);
  z-index: 10;
  animation: slideIn 900ms;
  -webkit-animation: slideIn 900ms;
  -moz-animation: slideIn 900ms;
  -o-animation: slideIn 900ms;
  -ms-animation: slideIn 900ms;
}

.nav-toggle{
  position: absolute;
  top: 22px;
  right: -50px;
  animation: flyOut 1s;
  -webkit-animation: flyOut 1s;
  -moz-animation: flyOut 1s;
  -o-animation: flyOut 1s;
  -ms-animation: flyOut 1s;
  display: none;
  z-index: 11;
}

@keyframes flyOut {
  0% { right: 17px; }
  100% { right: -50px;}
}

@keyframes flyIn {
  0% { right: -50px; }
  100% { right: 17px;}
}

@keyframes slideIn {
  0% { 
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-left: transparent 1px solid;
  }
  100% { 
    width: 128px;
    padding-left: 16px;
    padding-right: 16px;
    border-left: var(--default-white) 1px solid;
  }
}

@keyframes slideOut {
  0% { 
    width: 128px;
    padding-left: 16px;
    padding-right: 16px;
    border-left: var(--default-white) 1px solid;
  }
  100% { 
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-left: transparent 1px solid;
  }
}

@media (max-width:600px) {
  .nav-bar{
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    animation: slideOut 600ms;
    -webkit-animation: slideOut 600ms;
    -moz-animation: slideOut 600ms;
    -o-animation: slideOut 600ms;
    -ms-animation: slideOut 600ms;
    overflow-x: hidden;
    border-left: transparent 1px solid;
  }
  .nav-bar.first,
  .nav-bar-small.first{
    animation: none;
  }
  .nav-toggle{
    animation: flyIn 1s;
    -webkit-animation: flyIn 1s;
    -moz-animation: flyIn 1s;
    -o-animation: flyIn 1s;
    -ms-animation: flyIn 1s;
    right: 17px;
    display: block;
  }
  .custom-scroll{
    display: none;
  }
}

@media (max-height: 320px) {
  .nav-bar-small,
  .nav-bar {
      gap: 8px;
      min-height: unset;
      padding-top: 4px;
      padding-bottom: 4px;

  }
}

/* Portfolio Content */
.portfolio-content{
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

main{
  overflow-y: scroll;
}

.current-content{
  height: 100%;
  width: 100%;
  border-right: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  animation: fadeIn 600ms;
  -webkit-animation: fadeIn 600ms;
  -moz-animation: fadeIn 600ms;
  -o-animation: fadeIn 600ms;
  -ms-animation: fadeIn 600ms;
  opacity: 1;
  z-index: 2;
}

/* no scroll bar */
.current-content {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.current-content::-webkit-scrollbar { 
  display: none;
}

/* Home page */

.home-simple-alt{
  padding: 0 24px 48px 24px;
  font-family: 'Space';
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  border: 0px;
}

.home-simple-name{
  font-family: 'VT323';
  margin: 0px;
  font-weight: unset;
  font-size: var(--font-xxl);
  line-height: 50px;
}

.home-simple-title{
  font-weight: 300;
  max-width: 850px;
  text-wrap: nowrap;
  margin: 0px;
  font-size: var(--font-medium);
}
.home-tv{
  height: var(--tv-width);
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: var(--tv-width);
}

.home-tv-tv{
  width: var(--tv-width);
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
}

.home-tv-video.disabled{
  display: none;
}

.home-tv-video{
  z-index: 5;
  position: absolute;
  top: 60px;
  left: 25px;
  width: 250px;
}

.home-simple-video-controls{
  z-index: 7;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 13px;
  justify-content: center;
  bottom: 70px;
  left: 44px;
}


@media (max-width:600px) {
  .home-simple-alt{
    padding: 0 24px 0 24px;
  }

  .home-simple-name{
    font-size: var(--font-extra-large);
    line-height: var(--font-large);
  }
  
  .home-simple-title{
    font-size: var(--font-small);
  }
  .home-tv{
    display: none;
  }
}

@media (max-height:600px) {
  .home-tv{
    display: none;
  }
  .home-simple-alt{
    padding-bottom: 0px;
  }
}

@media (prefers-reduced-motion) {
  .home-tv{
    display: none;
  }
  button:not(:hover).bounce .button-top{
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    -ms-animation: none;
  }
}

.home-simple-video{
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.proj-next-last-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  justify-content: space-between;
  width: 100%;
}

.proj-next-last-controls button{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  text-decoration: none;
}

.proj-next-last-controls button:hover{
  text-decoration: underline;
}

.proj-next-last-controls button.right-icon{
  flex-direction: row-reverse;
}

.proj-next-last-controls .small{
  display: none;
  text-decoration: none;
}

.proj-next-last-controls .no-underline{
  text-decoration: none;
}

.next-prev-icon{
  height: 16px;
}

@media (max-width:375px){
  .proj-next-last-controls .big{
    display: none;
  }
  .proj-next-last-controls .small{
    display: block;
  }
} 

.banner.proj-next-last-banner{
  text-align: end;
  box-sizing: border-box;
  padding-right: 12px;
  padding-left: 12px;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 8px;
}
.banner.home-banner{
  position: absolute;
  bottom: 0px;
}

.banner.home-banner.disabled{
  display: none;
}

.banner.home-banner button:hover .button-top,
.banner.proj-next-last-banner button:hover .button-top{
  background-color: var(--default-white);
  border-color: var(--default-black);
}

.banner.home-banner button:hover .button-top img,
.banner.home-banner button:focus .button-top img,
.banner.proj-next-last-banner button:hover .button-top img,
.banner.proj-next-last-banner button:focus .button-top img{
  filter: none;
}

.banner.home-banner button:hover .button-bottom,
.banner.proj-next-last-banner button:hover .button-bottom{
  background-color: var(--light-grey);
  border-color: var(--default-black);
}

.home-display{
  width: 100%;
  animation: fadeIn 600ms;
  -webkit-animation: fadeIn 600ms;
  -moz-animation: fadeIn 600ms;
  -o-animation: fadeIn 600ms;
  -ms-animation: fadeIn 600ms;
  opacity: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
  box-sizing: border-box;
}

#home-background-video{
  position: fixed;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 70%;
}

#home-background-video.disabled{
  display: none;
}

/* #preloadedImages
{
    width: 0px;
    height: 0px;
    background-image: url('./media/websitev2.gif');

}

#preloadedImagesTwo
{
    width: 0px;
    height: 0px;
    background-image: url('./media/vhs.png');

} */

/* @media (max-width:844px){
  #home-background-video{
    display: none;
  }
} */

/* Project Pages */
.project-display{
  background-color: var(--default-black);
  color: var(--default-white);
  animation: fadeIn 600ms;
  -webkit-animation: fadeIn 600ms;
  -moz-animation: fadeIn 600ms;
  -o-animation: fadeIn 600ms;
  -ms-animation: fadeIn 600ms;
  opacity: 1;
}

/*Project list*/
.project-list-display{
  animation: fadeIn 600ms;
  -webkit-animation: fadeIn 600ms;
  -moz-animation: fadeIn 600ms;
  -o-animation: fadeIn 600ms;
  -ms-animation: fadeIn 600ms;
}

.project-list{
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 100%;
  display: flex;
  border-top: 1px solid var(--default-white);
  flex-wrap: wrap;
}

/* title and subtitle */
.project-title{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 7px;
  border: var(--default-white) 1px solid;
  border-right: 0px;
  border-left: 0px;
  align-items: baseline;
  padding: 0px 3px 10px 24px;
  margin-top: 36px;
}

.project-title .text{
  font-size: var(--font-xxl);
  font-family: 'Notable';
  text-wrap: nowrap;
  margin: 0px;
  font-weight: unset;
}

.banner-subtitle{
  width: unset;
  font-size: var(--font-large);
  font-family: 'VT323';
  font-weight: 400;
  color: var(--default-black);
  background-color: var(--default-white);
  line-height: 36px;
  letter-spacing: 1px;
  padding: 12px 24px 12px 24px;
  margin: 0px;
  font-weight: unset;
}

.rect-1{
  height: 40px;
  width: 24px;
  background-color: var(--default-white);
}

.rect-2{
  height: 40px;
  width: 9px;
  background-color: var(--default-white);
}

.rect-3{
  height: 40px;
  width: 6px;
  background-color: var(--default-white);
}

.rect-4{
  height: 40px;
  width: 3px;
  background-color: var(--default-white);
}

.rect-5{
  height: 40px;
  width: 2px;
  background-color: var(--default-white);
}

.rect-6{
  height: 40px;
  width: 1px;
  background-color: var(--default-white);
}

/* Stylized outline */
@supports (-webkit-text-stroke-width: 1px){
  .project-title .text{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--default-white);
    color: transparent;
  }
}

@media (max-width:844px){
  .project-title .text{ 
    font-size: var(--font-extra-large);
    line-height: var(--font-extra-large);
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .rect-1,
  .rect-2,
  .rect-3,
  .rect-4,
  .rect-5,
  .rect-6{
    height: 24px;
  }
}

@media (max-width:844px){
  .project-title .text{ 
    text-wrap: wrap;
    padding-right: 60px
  }

  .rect-1,
  .rect-2,
  .rect-3,
  .rect-4,
  .rect-5,
  .rect-6,
  .sub-rect-1,
  .sub-rect-2,
  .sub-rect-3,
  .sub-rect-4,
  .sub-rect-5{
    display: none;
  }

  .project-subtitle .text{
    border: 0px;
  }
}

.banner{
  width: 100%;
  padding: 2px 3px 3px 24px;
  background-color: var(--default-white);
  color: var(--default-black);
  font-size: var(--font-medium);
  font-family: 'VT323';
}

.project-overview{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: var(--default-white) 1px solid;
  width: 100%;
  overflow: hidden;
}

.project-overview-detail{
  min-width: 200px;
  max-width: 340px;
  border-right: var(--default-white) 1px solid;
  display: flex;
  padding: 24px;
  overflow: hidden;
}

@media (max-width:844px){
  .project-overview{ 
    flex-wrap: wrap;
    margin-top: -1px;
    margin-left: -1px;
  }
  .project-overview-detail{
    outline: var(--default-white) 1px solid;
    border: 0px;
    margin-top: 1px;
    margin-left: 1px;
    min-width: 140px;
    max-width: 300px;
    flex-grow: 1;
  }
}

@media (max-width:600px){
  .project-overview-detail{
    text-wrap:balance;
  }
}

/* akvd */
.akvd-summary{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-top: 36px;
  min-height: 150px;
}

.akvd-summary .akvd-text{
  border-right: var(--default-white) 1px solid;
  padding: 24px;
  max-width: 70%;
}

.akvd-request-info{
  background-color: var(--default-white);
  color: var(--default-black);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.akvd-request-info-title{
  font-family: 'Space';
  font-weight: 700;
  font-size: var(--font-medium);
  text-wrap: nowrap;
  margin: 0px;
}

.akvd-takeaways-header{
  width: 100%;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  margin-top: 36px;
}

.akvd-takeaways{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: var(--default-white) 1px solid;
  width: 100%;
  min-height: 340px;
  margin-bottom: 36px;
}

.akvd-takeaway{
  margin-right: 0px;
  border-right: var(--default-white) 1px solid;
  width: calc(100%/3); 
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 7px;
}

.akvd-takeaways .akvd-takeaway:last-child{
  border-right: 0px;
}

@media (max-width:1200px) { 
  .akvd-takeaways{
    flex-direction: column;
    border-bottom: 0px;
  }
  .akvd-takeaway{
    border-right: 0px;
    border-bottom: var(--default-white) 1px solid;
    width: unset;
    padding: 24px;
  }
  .akvd-summary{
    flex-direction: column;
  }
  .akvd-request-info{
    min-height: unset;
    width: unset;
    padding: 24px;
  }
  .akvd-summary .akvd-text{
    border-right: 0px;
    padding: 24px;
    max-width: unset;
  }
  .akvd-request-info-title{
    text-wrap: wrap;
  }
}

.section-header{
  font-family: 'Space';
  font-size: var(--font-medium);
  font-weight: 600;
  margin: 0px;
}

/* Mindyoga */
.mindyoga-summary{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 36px;
  min-height: 150px;
}

.mindyoga-text-banner-wrapper{
  width: 88%;
}

.mindyoga-text{
  padding: 24px;
}

.mindyoga-summary .mindyoga-text{
  border-right: var(--default-white) 1px solid;
  min-height: 160px;
}

.mindyoga-request-info-title{
  font-family: 'Space';
  font-weight: 700;
  font-size: var(--font-medium);
  text-wrap: nowrap;
}

.banner.mindyoga-banner{
  text-align: end;
  box-sizing: border-box;
  padding-right: 12px;
  text-wrap: nowrap;
}

.mindyoga-three-stages{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  min-height: 400px;
  margin-bottom: 36px;
  gap: 36px;
}

.mindyoga-three-stages-text-title{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

.mindyoga-three-stages-text-title .project-subtitle{
  border-bottom: var(--default-white) 1px solid;
}

.mindyoga-three-stages-text{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: var(--default-white) 1px solid;
  width: 100%;
  min-height: 400px;
}

.mindyoga-stage{
  margin-right: 0px;
  border-right: var(--default-white) 1px solid;
  width: calc(100%/3); 
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 7px;
}

.mindyoga-stages-image{
  object-fit: contain;
  width: 100%;
  display: flex;
  padding: 0px;
}

.mindyoga-three-stages .mindyoga-stage:last-child{
  border-right: 0px;
}

.mindyoga-stage .project-subtitle{
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width:1200px) {
  .mindyoga-summary{
    flex-direction: column;
    border: 0px;
  }

  .mindyoga-text-banner-wrapper{
    width: unset;
  }
  
  .mindyoga-summary .mindyoga-text{
    border: 0px;
    border-top: var(--default-white) 1px solid;
    padding: 24px;
    min-height: unset;
  }

  .mindyoga-three-stages-text{
    flex-direction: column;
    border-bottom: 0px;
  }

  .mindyoga-three-stages-text .mindyoga-stage{
    border: 0px;
    border-top: var(--default-white) 1px solid;
    width: unset;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 7px;
  }

  .mindyoga-stage.mindyoga-stages-image{
    border: var(--default-white) 1px solid;
    border-bottom: 0px;
    height: 200px;
    overflow: hidden;
    background-color: var(--default-white);
    margin-bottom: 36px;
  }
}

/* Recruit Right */
.rr-summary{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 36px;
  min-height: 150px;
}

.rr-summary .rr-text{
  border-right: var(--default-white) 1px solid;
  padding: 24px;
  min-height: 80px;
  width: calc(100% - 380px);
  max-width: 900px;
}

.rr-summary-image{
  width: 380px;
  min-height: 240px;
  height: 100%;
  overflow: hidden;
  background-color: var(--default-white);
}

.rr-takeaways-header{
  width: 100%;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  margin-top: 36px;
}

.rr-takeaways{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 36px;
  border-bottom: var(--default-white) 1px solid;
}

.rr-features{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
}

.rr-features-images{
  background-color: var(--default-white);
  height: 400px;
  width: 100%;
}

.rr-features-image-wrapper{
  width: 100%;
  border-bottom: var(--default-white) 1px solid;
  margin-bottom: 36px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.rr-takeaway-image-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: var(--default-white) 1px solid;
  width: calc(100%/3);
}

.rr-feature-text-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: var(--default-white) 1px solid;
  width: calc(100%/2);
}

.rr-feature-text-wrapper.last {
  border-right: 0px;
}

.rr-takeaways .rr-takeaway-image-wrapper:last-child{
  border-right: 0px;
}

.rr-takeaway{
  margin-right: 0px;
  width: unset;
  display: flex;
  flex-direction: column;
  padding: 24px 0px 24px 0px;
  gap: 7px;
}

.rr-takeaway .section-header,
.rr-takeaway .rr-text{
  padding: 0px 24px 0px 24px;
}

.rr-takeaway-image{
  height: 200px;
  background-color: var(--default-white);
  width: 100%;
  border: var(--default-white) 1px solid;
}

@media (max-width:1090px){
  .rr-summary{
    flex-direction: column;
    margin-bottom: 36px;
  }
  .rr-takeaways{
    flex-direction: column;
  }
  .rr-takeaway{
    padding: 24px 0px 24px 0px;
  }

  .rr-takeaway-image-wrapper{
    border-right: 0px;
    border-bottom: var(--default-white) 1px solid;
    width: unset;
  }
  .rr-summary .rr-text{
    width: unset;
    border-bottom: var(--default-white) 1px solid;
    border-right: 0px;
  }
  .rr-summary-image{
    width: 90%;
    height: 300px;
  }
  .rr-features {
    flex-direction: column;
  }
  .rr-feature-text-wrapper{
    width: 100%;
    border-right: 0px;
    border-bottom: var(--default-white) 1px solid;
  }
  .rr-features-images {
    width: 100%;
  }
}

/* htc */

.htc-takeaways{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-bottom: 36px;
}

.htc-takeaways-header{
  width: 100%;
  border-top: var(--default-white) 1px solid;
  margin-top: 36px;
}

.htc-takeaway.text-only{
  margin-right: 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 0;
  gap: 7px;
  height: 100%;
}

.htc-takeaways .htc-takeaway.text-only:first-child {
  border-right: var(--default-white) 1px solid;
}

.htc-split{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-bottom: 36px;
  min-height: 240px;
  justify-content: space-between;
}

.htc-split-text{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-right: var(--default-white) 1px solid;
  padding: 24px;
  min-height: 216px;
  width: calc(100% - 380px);
  max-width: 65%;
}

.htc-takeaway .section-header,
.htc-takeaway .htc-text{
  padding: 0px 24px 0px 24px;
}

.htc-takeaway-image{
  object-fit: cover;
  height: 410px;
  width: 100%;
}

.htc-summary{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-top: 36px;
  min-height: 150px;
}

.htc-summary .htc-text{
  border-left: var(--default-white) 1px solid;
  padding: 24px;
  min-height: 80px;
  width: calc(100% - 380px);
}

.htc-summary-image{
  width: 50%;
  object-fit: contain;
  object-position: 50% 0;
  max-height: 345px;
}

@media (max-width:1111px){
  .htc-summary{
    flex-direction: column;
    margin-bottom: 36px;
    border: 0px;
  }
  .htc-split{
    flex-direction: column;
    border-top: 0px;
  }
  .htc-takeaways{
    flex-direction: column;
    margin-bottom: 0px;
  }
  .htc-takeaway.text-only{
    width: unset;
  }
  .htc-takeaways .htc-takeaway.text-only:first-child{
    border-right: 0px;
    border-bottom: var(--default-white) 1px solid;
  }
  .htc-split-text{
    width: unset;
    max-width: unset;
    border-right: 0px;
    border-bottom: var(--default-white) 1px solid;
  }
  .htc-summary-image{
    width: 100%;
    object-fit: cover;
    border-top: var(--default-white) 1px solid;
  }
  .htc-summary .htc-text{
    width: unset;
    border-top: var(--default-white) 1px solid;
    border-left: 0px;
  }
}

/* about */
.about-takeaways{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-bottom: 36px;
}

.about-takeaways-header{
  width: 100%;
  border-top: var(--default-white) 1px solid;
  margin-top: 36px;
}

.about-takeaway.text-only{
  margin-right: 0px;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 24px 0 24px 0;
  gap: 7px;
}

.about-takeaway.text-only:last-child{
  width: 40%;
}

.about-takeaways .about-takeaway.text-only:first-child {
  border-right: var(--default-white) 1px solid;
}

.about-split{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  border-bottom: var(--default-white) 1px solid;
  border-top: var(--default-white) 1px solid;
  width: 100%;
  margin-bottom: 36px;
  margin-top: 36px;
  justify-content: space-between;
}

.about-split-text{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-left: var(--default-white) 1px solid;
  justify-content: space-between;
  gap: 7px;
}

.about-split-text .about-text {
  padding: 24px;
}

.about-takeaway .section-header{
  padding-left: 24px;
  padding-right: 24px;
}

.about-takeaway .about-text{
  padding-left: 48px;
  padding-right: 24px;
}

.about-takeaway{
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 7px;
}

.about-takeaway-image{
  object-fit: cover;
	width: 30%;
}

.about-split-text .link-nav{
  width: 100%;
  background-color: var(--default-white);
  text-align: end;
  box-sizing: border-box;
  padding-right: 12px;
  padding-left: 12px;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;
  color: var(--default-black);
}

.about-split-text .link-nav button:hover .button-top {
  background-color: var(--default-white);
  border-color: var(--default-black);
}

.about-split-text .link-nav button:hover .button-bottom {
  background-color: var(--light-grey);
  border-color: var(--default-black);
}

.about-button-wrapper{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 7px;
  justify-content: center;
}

.about-button-wrapper{
  align-items: center;
}

.about-button-wrapper a{
  display: flex;
}

@media (max-width:912px){
  .about-split{
    flex-direction: column;
    border-top: 0px;
  }
  .about-takeaways{
    flex-direction: column;
  }
  .about-takeaway.text-only{
    width: unset;
  }
  .about-takeaways .about-takeaway.text-only:first-child{
    border-right: 0px;
    border-bottom: var(--default-white) 1px solid;
  }
  .about-split-text{
    width: unset;
    max-width: unset;
    border-left: 0px;
    border-top: var(--default-white) 1px solid;
    border-bottom: var(--default-white) 1px solid;
  }

  .about-takeaway.text-only:last-child,
  .about-takeaway-image {
    width: unset;
  }

  .about-split-text .link-nav {
    margin-top: 24px;
  }

}

@media (max-width:299px){
  .about-button-label{
    display: none;
  }
}

/* safari */
video {
  &::-webkit-media-controls {
      display:none !important;
  }

  &::-webkit-media-controls-start-playback-button {
      display: none!important;
      -webkit-appearance: none;
  }
}

/*visually hidden*/
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden-text {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip {
  color:var(--default-white);
}

.react-link{
  text-decoration: none;
  display: contents;
}
